@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

.montserrat-m {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.montserrat-s {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.font-12 {
  font-size: 12px;
}
.font-14 {
  font-size: 14px;
}
.font-15 {
  font-size: 15px;
}
.font-40 {
  font-size: 40px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
}

@keyframes downAnimation {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(7px);
  }
  60% {
    transform: translateY(4px);
  }
}
